
body{
    background-color: #E5E5E5;
}
header{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #000000;
    margin: 70px 0px 130px 0px;
   
}
.title span{
    color: yellow;
}
.row_block{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 763px;
    height: 297px;
    display: flex;
    justify-content: flex-start;

}
.row_content{
    font-family: 'Lato'; 
    letter-spacing: 0.2px;
    color: #000000;
    font-style: normal;
   
}
.row_content h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}
.row_content p{
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
}
.row_content a{
    width: 343px;
    height: 249px;
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: #009d9d;
    background: #EBE9E9;
    border-radius: 10px;
    padding: 8px 39px 8px 28px;
    position: relative;
}
.row_content a::after{
    content:"";
    background: url(../image/arrow-right.png) right no-repeat;
    width: 31px;
    height: 31px;
    display: block;
    position: absolute;
    right: 0px;
    top: 7px;
}
.row_content a:hover::after{
    right: 10px;
    transition: 0.3s;
}

.row{
    
    margin-bottom: 20px;
}